@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1a1a;
    color: #f7e7e7;
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
    }
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 2rem;
    gap: 8rem;
    color: rgb(7, 213, 245);
    background-color: #2a2a2a;
}
.logo {
    width: 8%;
    height: auto;
}
h1{
    font-size: 2.8rem;
    color: rgb(7, 213, 245);
}
ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}
a{ 
    text-decoration: none;
    color: #f7e7e7;
    font-size: 1.2rem;
}
.registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f7e7e7;
    padding: 6rem 1rem;
    border-radius: 0.5rem;
}
.formulario {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #2a2a2a;
}
input {
    padding: 0.6rem;
    border-radius: 0.2rem;
    width: 80%;
    border: 1px solid #ccc;
}
.enviar-btn {
    width: 6rem;
    padding: 0.6rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
footer {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem;
    color: #f7e7e7;
    margin-top: 1rem;
}
/*Mediaqueries*/

@media (max-width: 1200px) {
    header {
        flex-direction: column;
        gap: 2rem;
    }
    h1{
        font-size: 2.5rem;
    }
    .formulario {
        width: 50%;
    }
}
@media (max-width: 1024px) {
    .formulario {
        width: 50%;
    }
}

@media (max-width: 768px) {
    a{
        font-size: 1rem;
    }
    .formulario {
        width: 60%;
    }
}
@media (max-width: 480px) {
    header {
        flex-direction: column;
        gap: 2rem;
    }
    .logo {
        width: 30%;
    }
    h1 {
        font-size: 1.6rem;
    }
    .formulario {
        width: 90%;
    }
}