@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1a1a;
    color: #f7e7e7;
    width: 100%;
}
html {
    scroll-behavior: smooth;
    }
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    padding: 2rem 8rem;
    gap: 4rem;
    color: rgb(7, 213, 245);
    background-color: #2a2a2a;
}
.logo {
    width: 12%;
    height: auto;
    margin-left: 1rem;
}
h1{
    font-size: 1.5rem;
    color: rgb(7, 213, 245);
}
.menu-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1.2rem;
    align-items: center;        
    justify-content: center; 
}
.search-container {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    width: 400px;
    gap: 10px;
}
.search-input {
    padding: 10px;
    width: 300px;
    height: auto;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem 0 0 0.2rem; 
}
.search-button {
    width: auto;
    height: auto;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 0.2rem 0.2rem 0; 
    cursor: pointer;
}
.search-button:hover {
    background-color: #0056b3;
}
nav {
    display: flex;
    gap: 1.8rem;
    justify-content: right;
    align-items: center;
    max-width: 800px;
    background-color: green;
}
a {
    color: #f7e7e7;
    text-decoration: none;
    list-style-type:none;
    font-size: 1rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.banner{
    width: 100%;
    height: 400px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url('/images/buzos/buzo_stitch.svg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: 0;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.banner h3{
    position: relative;
    font-size: 3.5rem;
    color: #f7e7e7;
    z-index: 1;
}
.banner h3::before{
    position: absolute;
    z-index: 2;
}
#banner_text {
    font-size: 3.5rem;
    color: #f7e7e7;
    max-width: 700px;
}
.medios_de_pago{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 1rem;
    width: 100%;
}
.medios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.medios h3{
    font-size: 2rem;
    color: rgb(7, 213, 245);
}
.medios p{
    font-size: 1rem;
    color: #f7e7e7;
    max-width: 450px;
    text-align: center;
}
h2{
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    color: rgb(7, 213, 245);
}
.section-1, .section-2, .section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: #2a2a2a;
    padding: 2rem;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.section-1 p, .section-2 p, .section-3 p {
    text-align: center;
    font-size: 1rem;
    color: #f7e7e7;
}
.agregar_carrito{
    width: 150px;
    padding: 10px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.agregar_carrito:hover {
    background-color: #0056b3;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;    
}   
.card-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 300px;
    height: 400px;
    background-color: #3a3a3a;
    text-align: center;
    border-radius: 0.5rem;                    
    padding: 1rem;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.img-cards {
    width: 90%;
    border-radius: 1rem;
    padding: 0.8rem 0.6rem;
}
.img-cards:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
input {
    padding: 10px;
    border-radius: 0.2rem;
    width: 60%;
    border: 1px solid #ccc;
}
textarea {
    padding: 10px;
    border-radius: 0.2rem;
    width: 60%;
    border: 1px solid #ccc;
    resize: vertical;
}
.enviar-btn {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #2a2a2a;
    color: #f7e7e7;
    margin-top: 20px;
}

/*Mediaqueries*/

@media (max-width: 768px) {
    header {
        flex-direction: row;
        padding: 1rem 2rem;
    }
    .logo {
        width: 15%;
        margin: 0 0 0 1rem;     
    }
    .menu-container {
        width: 300px;
        gap: 0.2rem;
    }
    .search-input {
        width: 150px;
    } 
    nav{
        gap: 1rem;
        width: 100px;
    }
    .nav-menu {
        width: 150px;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    a {
        font-size: 0.9rem;
    } 
    #banner_text {
        font-size: 2.8rem;
        max-width: 500px;
    }
    h1 {
        font-size: 1.2rem;
    }
    .medios_de_pago {
        flex-direction: column;
        max-width: 760px;
        height: auto;
        gap: 2rem;
    }
    .section-1, .section-2, .section-3 {
        width: 90%;
        padding: 2rem;
    }
    .cards {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        gap: 1rem;
    }
    .logo {
        width: 30%;
        margin: 0;
    }
    .menu-container {
        width: 100%;
        gap: 0.5rem;
    }
    .search-container {
        width: 100%;
    }
    .search-input {
        width: 70%;
    }
    .nav-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 4rem;
    }
    #banner_text {
        font-size: 2rem;
        max-width: 300px;
    }
    .medios_de_pago {
        max-width: 360px;
        gap: 1rem;
    }
    .medios h3 {
        font-size: 1.8rem;
    }   
    .medios p {
        font-size: 1rem;
    }   
    .section-1, .section-2, .section-3 {
        width: 90%;
        padding: 1rem;
    }
    .section-1 h2, .section-2 h2, .section-3 h2 {
        font-size: 1.5rem;
    }   
    .card-product {
        width: 90%;
        height: auto;
    }
}

