@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1a1a;
    color: #f7e7e7;
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
    }
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem 0 2rem 8rem;
    gap: 1rem;
    color: rgb(7, 213, 245);
    background-color: #2a2a2a;
}
.logo {
    width: 15%;
    height: auto;
}
h1{
    font-size: 1.5rem;
    color: rgb(7, 213, 245);
}
.menu-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
    align-items: center;        
    justify-content: center;
}
.search-container {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    width: 80%;
    gap: 6rem;
}
.search-input {
    padding: 0.7rem;
    width: 60%;
    height: auto;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem 0 0 0.2rem; 
}
.search-button {
    width: 30%;
    height: auto;
    padding: 0.7rem 1rem;
    background-color: #007bff;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 0 0.2rem 0.2rem 0; 
    cursor: pointer;
}
.search-button:hover {
    background-color: #0056b3;
}
nav {
    display: flex;
    gap: 6rem;
    justify-content: left;
    align-items: center;
    width: 30%;
}
a {
    color: #f7e7e7;
    text-decoration: none;
    list-style-type:none;
    font-size: 1rem;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.banner{
    width: 100%;
    height: 400px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url('/images/buzos/buzo_stitch.svg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: 0;
}
.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.banner h3{
    position: relative;
    font-size: 3.5rem;
    color: #f7e7e7;
    z-index: 1;
}
.banner h3::before{
    position: absolute;
    z-index: 2;
}
#banner_text {
    font-size: 3.5rem;
    color: #f7e7e7;
    max-width: 700px;
}
.medios_de_pago{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.medios{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}
.medios h3{
    width: 60%;
    font-size: 2rem;
    color: rgb(7, 213, 245);
}
.medios p{
    width: 60%;
    font-size: 1.4rem;
    color: #f7e7e7;
}
h2{
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(7, 213, 245);
}
.section-1, .section-2, .section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #2a2a2a;
    padding: 2rem;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.section-1 p, .section-2 p, .section-3 p {
    width: 60%;
    text-align: center;
    font-size: 1.1rem;
    color: #f7e7e7;
}
.agregar_carrito{
    width: 9rem;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.agregar_carrito:hover {
    background-color: #0056b3;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;    
}   
.card-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 18rem;
    height: 25rem;
    background-color: #3a3a3a;
    text-align: center;
    border-radius: 0.5rem;                    
    padding: 1rem;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.img-cards {
    width: 90%;
    border-radius: 1rem;
    padding: 0.8rem 0.6rem;
}
.img-cards:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}
.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
input {
    padding: 0.6rem;
    border-radius: 0.2rem;
    width: 80%;
    border: 1px solid #ccc;
}
textarea {
    padding: 0.6rem;
    border-radius: 0.2rem;
    width: 80%;
    border: 1px solid #ccc;
    resize: vertical;
}
.enviar-btn {
    width: 6rem;
    padding: 0.6rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #2a2a2a;
    color: #f7e7e7;
    margin-top: 1rem;
}

/*Mediaqueries*/

@media (max-width: 1200px) {
    .logo {
        width: 15%;
    }
    h1{
        font-size: 1.6rem;
    }
    .menu-container {
        width: 40%;
        gap: 0.8rem;
    }
    .search-input {
        width: 60%;
    } 
    nav{
        gap: 2rem;
        width: 200px;
    }
    .nav-menu {
        width: 40%;
        display: flex;
        justify-content: center;
        gap: 3rem;
    }
    a {
        font-size: 1.1rem;
    } 
    #banner_text {
        font-size: 3.2rem;
        max-width: 650px;
    }
     .medios{
        max-width: 80%;
        text-align: center;
    }
    .medios h3{
        width: 60%;
        font-size: 1.8rem;
    }
    .medios p{
        width: 60%;
        font-size: 1.1rem;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 1.5rem 4rem;
        gap: 1rem;
    }
    .logo {
        width: 15%;
        margin-left: 0.5rem;
    }
    .menu-container {
        width: 50%;
        gap: 0.5rem;
    }
    .search-input {
        width: 70%;
    } 
    .search-button{
        width: auto;
    }
    nav{
        gap: 1.5rem;
        width: 150px;
    }
    .nav-menu {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    a {
        font-size: 1rem;
    } 
    .medios{
        max-width: 80%;
        text-align: center;
    }
    .medios h3{
        width: 80%;
        text-align: center;
        font-size: 1.8rem;
    }
    .medios p{
        width: 60%;
        text-align: center;
        font-size: 1.1rem;
    }
    #banner_text {
        font-size: 3rem;
        max-width: 40%;
    }
}

@media (max-width: 900px) {
    header {
        padding: 1.5rem 3rem;
        gap: 1rem;
    }
    .logo {
        width: 15%;
    }
    .menu-container {
        width: 50%;
        gap: 0.5rem;
    }
    .search-input {
        width: 10rem;
        font-size: 0.8rem;
    } 
    .search-button {
        width: auto;
        font-size: 0.8rem;
    }
    nav{
        gap: 1.2rem;
        width: 130px;
    }
    .nav-menu {
        width: 180px;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    h1{
        font-size: 1.3rem;
    }
    a {
        font-size: 0.8rem;
    } 
    #banner_text {
        font-size: 3rem;
        max-width: 100%;
    }
    .medios{
        max-width: 80%;
    }
    .medios h3{
        max-width: 80%;
        font-size: 1.6rem;
        text-align: center;
    }
    .medios p{
        max-width: 80%;
        font-size: 1.1rem;
        text-align: center;
    }
    .card-product{
        width: 16rem;
        height: auto;
    }
}
@media (max-width: 768px) {
    header {
        flex-direction: row;
        padding: 1rem 2rem;
        height: auto;
        gap: 2rem;
    }
    .logo {
        width: 20%;
        margin: 0 0 0 1rem;     
    }
    .menu-container {
        width: 60%;
        gap: 0.2rem;
    }
    .search-input {
        width: 60%;
    } 
    .search-button {
        width: 35%;
    }
    nav{
        gap: 1rem;
        width: 100px;
    }
    .nav-menu {
        width: 30%;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    a {
        font-size: 0.9rem;
    } 
    #banner_text {
        font-size: 2.8rem;
        max-width: 500px;
    }
    h1 {
        font-size: 1.2rem;
    }
    a{
        font-size: 0.7rem;
    }
    .medios_de_pago {
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 1rem;
        background-color: orange;
    }
    .medios{
        width: 100%;
        background-color: rgb(21, 7, 89);
    }
    .medios h3{
        font-size: 1.4rem;
    }
    .medios p{
        font-size: 1rem;
        background-color: rgb(6, 99, 180);
    }
    .section-1, .section-2, .section-3 {
        width: 90%;
        padding: 2rem;
    }
    .cards {
        flex-direction: row;
        align-items: center;
    }
    .card-product{
        width: 15rem;
        height: auto;
    }
    .enviar-btn{
        width: 7rem;
        padding: 0.5rem;
        font-size: 1rem;
    }
}
@media (max-width: 650px) {
    header {
        flex-direction: column;
        padding: 1rem 1.5rem;
        width: 100%;
        height: auto;
        gap: 1.5rem;
        background-color: burlywood;
    }
    .logo {
        width: 30%;
        margin: 0;
    }
    .menu-container{
        background-color: lightcoral;
        width: 60%;
    }
    .search-input {
        width: 60%;
    } 
    .search-button {
        width: 30%;
    }
    .nav-menu {
        display: flex;
        justify-content: center;
        gap: 1.2rem;
    }
    h1{
        font-size: 1.2rem;
    }
    a {
        font-size: 0.7rem;
    } 
    #banner_text {
        font-size: 2.5rem;
        max-width: 400px;
    }
    .medios_de_pago {
        gap: 1.5rem;
    }
    .medios h3{
        font-size: 1.2rem;
    }
    .medios p{
        font-size: 1rem;
    }
    .section-1, .section-2, .section-3 {
        width: 95%;
        padding: 1.5rem;
    }
    .section-1 p, .section-2 p, .section-3 p{
        font-size: 1rem;
    }
    .agregar_carrito{
        width: 9rem;
        padding: 0.5rem;
        font-size: 1rem;
    }
    .card-product{
        width: 15rem;
        height: auto;
    }
    .enviar-btn{
        width: 5rem;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
}
@media (max-width: 480px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        gap: 1rem;
    }
    .logo {
        width: 30%;
        margin: 0;
    }
    .menu-container {
        width: 100%;
        gap: 0.5rem;
        background-color: lightpink;
    }
    .search-container {
        width: 100%;
    }
    .search-input {
        width: 50%;
        font-size: 0.8rem;
    }
    .search-button {
        width: 40%;
        font-size: 0.8rem;
    }
    .nav-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 4rem;
    }
    #banner_text {
        font-size: 2rem;
        max-width: 300px;
    }
    .medios_de_pago {
        gap: 1rem;
    }
    .medios h3 {
        font-size: 1.8rem;
    }   
    .medios p {
        font-size: 1rem;
    }   
    .section-1, .section-2, .section-3 {
        width: 90%;
        padding: 1rem;
    }
    .section-1 p, .section-2 p, .section-3 p {
        font-size: 0.9rem;
    }
    .agregar_carrito{
        width: 8rem;
        padding: 0.5rem;
        font-size: 0.9rem;
    }
    .section-1 h2, .section-2 h2, .section-3 h2 {
        font-size: 1.5rem;
    }   
    .card-product {
        width: 90%;
        height: auto;
    }
}

